#root {
  height: 100vh;
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.animation-wrapper {
  margin-top: 100px;
  width: 100%;
  height: 100%;
}

.animation {
  width: 70%;
  height: 100%;
  border: none;
}

